<?xml version="1.0"?>
<model>
  <name>iris_with_sprayer_2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Agri-Drone Project</name>
    <email></email>
  </author>

  <description>
    Second Iris quadcopter with dual agricultural sprayers.
    Uses ArduPilot SITL instance 1 (fdm_port_in=9012, MAVLINK TCP=5770).
  </description>
</model>
